# 环境变量文件
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# 依赖目录
node_modules/

# 日志
logs
*.log
npm-debug.log*

# 其他通常需要忽略的文件
.DS_Store
Thumbs.db
coverage/
dist/
build/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json